<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background: skyblue;
      font-family: verdana;
      color: #fff;
      padding: 30px
    }
    h1 {
      font-size: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
    }
    p {
      font-size: 16px;
      text-align: center
    }
  </style>
</head>
<body>
  <% include ./partials/nav.ejs %>
  <h1>Wow. Contact us</h1></br>
  <p>Name: <%= queryString.name %></p>
  <p>Age: <%= queryString.age %></p>
  <p>Size: <%= queryString.size %></p>


  <form id="contact-form">
    <label for="who">What's the name</label><br />
    <input type="text" name="name" value="<%= queryString.name %>"><br />
    <label for="department">What size?</label><br />
    <input type="text" name="size" value="<%= queryString.size %>"><br />
    <label for="age">How old?</label><br />
    <input type="text" name="age" value="<%= queryString.age %>"><br />
    <input type="button" name="confirm" value="<%= queryString.eyeColor %>" />
  </form>


  <a href='www.reddit.com'>josh.madakor@gmail.com</a>
</body>
</html>
